/* ---------------------------------- */
/*            base settings           */
/* ---------------------------------- */

html {
    font-size: 16px;
}

body {
    background-color: $color-page;
    font-weight: 500;
    line-height: 1.4;
    color: $color-page-font;
}

h1 { 
    @extend %basic-style;
    background-color: $color-title;
    width: 90%; 
    padding: $small 0;  
    margin-left: 5%;
    font-size: calc(16px + 4vw);
    margin-top: 5vw;   
    border-radius: 10%;
    box-shadow: inset 0 0 20px $small $color-title-shadow;
} 

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-inline-start: 0;
    list-style-type: none;
}

.list-item{
    @extend %basic-style;    
    font-size: calc($medium + 1vw); 
    width: calc(90px + 6vw); 
    text-transform: capitalize;
    background-color: $color-button;
    color: $color-button-font;
    padding: $small $medium;
    margin: 1.2vw 0.6vw; 
    border-style: none;
    white-space: nowrap;
    border-radius: 5% 20%  5%  5%;
    box-shadow: inset 0 0 $tiny $nano $color-button-shadow;
    transition: all 0.15s ease-in-out 0s;
    &:hover {
        @extend %button-focus;             
        background: $color-button-hover;
    }
    &:active {
        @extend %button-focus;        
        background-color: $color-button;
    }
}
