/* ---------------------------------- */
/*            base settings           */
/* ---------------------------------- */
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: $color-page;
    font-family: "Architects Daughter", cursive;
    font-weight: 500;
    line-height: 1.4;
    color: $color-page-font;
}

h1 { 
    background-color: $color-title;
    font-family: "Architects Daughter", cursive;
    width: 90%;
    margin-left: 5%;
    font-size: calc(16px + 4vw);
    font-weight: 600;
    border: 3px $color-button-border solid;
    margin-top: 3vw;
    text-align: center;
    border-radius: 10%;
    box-shadow: inset 0 0 50px 5px $color-button-hover;
    box-shadow: 0 0 5px 1px $color-title-shadow;
} 

ul{
    padding-inline-start: 0;
    list-style-type: none;
    padding-top: 5vw;
}

.list-item{
    font-family: "Architects Daughter", cursive;
    font-size: calc(10px + 3vw);
    font-weight: 600;
    letter-spacing: 3px;
    background-color: $color-button;
    color: $color-button-font;
    padding: $large 0;
    margin: 3vw 20%; 
    width: 60%;
    border: 3px $color-button-border solid;
    border-radius: 3% 25%;
    transition: all 0.15s ease-in-out 0s;
    &:hover {
        letter-spacing: $small;
        background: $color-button-hover;
        border-radius: 3% 25% ;
        box-shadow: inset 0 0 30px 5px $color-button-hover;
        box-shadow: 0 0 10px 1px $color-button-shadow;
    }
}

