/* ---------------------------------- */
/*            base settings           */
/* ---------------------------------- */

body {
    background-color: $color-page;
    font-weight: 500;   
    color: $color-page-font;
}

h1 { 
    @extend %basic-style;
    text-align: center;
    background-color: $color-title;
    width: 90%; 
    padding: $small 0;  
    margin-left: 5%;
    font-size: calc(16px + 4vw);
    margin-top: 5vw;   
    border-radius: 10%;
    box-shadow: inset 0 0 20px $small $color-title-shadow;
} 

.list-container{
    margin: 3%;
}

.list-group-item{    
    background-color: inherit;
    border-style: none;
}

.btn-primary{
    @extend %basic-style;       
    text-transform: capitalize;
    border-style: none;
    border-radius: 5% 20%  5%  5%;
    width: calc(60px + 7vw);
    font-size: calc(7px + 1.1vw); 
    padding: 0.5vw;
    color: $color-button-font;
    background-color: $color-button;

}

.nav-item{
    &:hover{
        background-color: $color-navbar-hover;
    }
}

.nav-link{
    padding-left: 1vw;
}

