/* ---------------------------------- */
/*           media queries            */
/* ---------------------------------- */
@media screen and (max-width:400px) { 

    h1{
        font-size: calc(12px + 3vw);
        width: 70%;
        margin-left: 15%;
    }

    .list-item{
        font-size: calc($small + 2vw); 
        padding: $small;
        margin: $small;
    }
}
