/* ---------------------------------- */
/*           media queries            */
/* ---------------------------------- */
@media all and (max-width: 400px) {
    html{
        font-size: 12px;
    }
    
    h1, ul{
        margin:  20px 5%;;
    }
}
@media all and (min-width: 800px) {
    html{
        font-size: 24px;
    }
    
    h1, ul{
        margin:  20px 25%;;
    }
}