
html, 
body {
  font-family: Arial, sans-serif;
}

.modal-dialog{
  width:80%;
  margin-left:10%;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal-title {
  text-transform: capitalize;
  font-family: "Architects Daughter", cursive;
  margin-top: 15px;
  font-size: calc(30px + 1.1vw);
  font-weight:700;
}

.modal-body{
  text-align: center;
}

.modal-image{
  max-width: 100%;  
  height: auto;
  min-width: 70%;
  margin-top: 3vw;
  padding: 4vw;
  background-color: $whitegrey;
  border: $color-image-border solid $nano;
}

table{ 
  margin: 60px 0 20px 10%;
}

td {
  font-size: calc(13px + 1.1vw);
  text-transform: capitalize; 
  text-align: left;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  // CSS for modal container - add your own desired CSS styles here 
  display: block;
}

.emphasize{
  font-size: calc(14px + 1.1vw);
  font-weight: 600;
  text-align: right;
  padding-right: $medium;
}


