// Colors: descriptive 
$anakiwa:     #a7d6fd; 
$ebony-clay:  #323750;


// Colors: functional
$color-page:          $anakiwa;
$color-page-font:     $ebony-clay;


// Distances
$nano: 1px;
$small: 5px;
$medium: 10px;
$large: 20px;
$huge:  30px;